@{
    ViewBag.Title = "About ChhayaNirh";
}

<main class="container my-5">
    <h2 style="color:#000000;">About ChhayaNirh - ছায়ানীড়</h2>
    <p style="color:#000000;" class="lead">
        ChhayaNirh is a trusted platform for finding and posting houses for rent in Dhaka, Bangladesh.
        We connect homeowners and renters through a verified and secure process.
        Users can post houses, search for rentals, communicate via messages, and make advance payments safely.
    </p>

    <p style="color:#000000;">
        Our mission is to make renting easy, transparent, and convenient.
        Admins ensure that all verifications and payments are handled securely, giving both homeowners and renters peace of mind.
    </p>
</main>
